<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AccountController.isAuthenticated</web-resource-name>
            <url-pattern>/resources/api/authenticate</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AccountController.getAccount</web-resource-name>
            <url-pattern>/resources/api/account</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AccountController.saveAccount</web-resource-name>
            <url-pattern>/resources/api/account</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AccountController.changePassword</web-resource-name>
            <url-pattern>/resources/api/account/change-password</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>UserController.getAllUsers</web-resource-name>
            <url-pattern>/resources/api/users</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>UserController.getUser</web-resource-name>
            <url-pattern>/resources/api/users/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ROLE_USER</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>UserController.createUser</web-resource-name>
            <url-pattern>/resources/api/users</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>UserController.updateUser</web-resource-name>
            <url-pattern>/resources/api/users</url-pattern>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>UserController.getAuthorities</web-resource-name>
            <url-pattern>/resources/api/users/authorities</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>UserController.deleteUser</web-resource-name>
            <url-pattern>/resources/api/users/*</url-pattern>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ROLE_ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SessionController</web-resource-name>
            <url-pattern>/resources/api/session</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>SpeakerController</web-resource-name>
            <url-pattern>/resources/api/speaker</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>LocationController</web-resource-name>
            <url-pattern>/resources/api/location</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ROLE_USER</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>